<form class="row pb-3 justify-content-left">
    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <h5>Find your favorite books</h5>
        <input type="text" class="form-control form-control-lg" [(ngModel)]="searchTerm" name="search"
            autocomplete="off">
    </div>
</form>

<ngb-pagination *ngIf="!!totalItems && totalItems > 20" [(page)]="page" [pageSize]="20" [collectionSize]="totalItems" [boundaryLinks]="true" [maxSize]="5">
</ngb-pagination>
<ba-book-list [books]="book$ | async"></ba-book-list>