<div class="card">
    <img (error)="image=null" *ngIf="!!image;else imgPlaceholder" [src]="image" class="card-img-top m-auto" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{title | subStr:30}}</h5>
        <p class="card-text" *ngIf="!!authers && !!authers.length">Authers: {{authers | subStr:20}}</p>
    </div>
    <div class="card-footer">
        <button class="btn btn-block btn-info">View Details</button>
        <button class="btn btn-block" [ngClass]="{
            'btn-success':!isOnWishlist,
            'btn-danger':isOnWishlist
        }" (click)="toggleWishlist()">{{!isOnWishlist ? 'Add to Wishlist' : 'Remove'}}</button>
    </div>
</div>

<ng-template #imgPlaceholder>
    <div class="card-img-top m-auto bg-light"></div>
</ng-template>